@model IEnumerable<EmployeeViewModel>

@{
    ViewData["Title"] = "Работники";
    Layout = null; //не использовать общее оформление для этой страницы
}

<h1>Список работников</h1>

<table>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.LastName</td>
            <td>@item.FirstName</td>
            <td>@item.Patronymic</td>
            <td>, @item.Age лет</td>
            <td>@Html.ActionLink("Детали..", "Details", new { id = item.Id })</td>
        </tr>
    }
</table>
<br>
<br>
@Html.ActionLink("<<< Вернуться на главную страницу","Index")